<template>
  <h2>${product.name}</h2>
  <p if.bind="product.mpn">
    Item model number: ${product.mpn}
  </p>

  <div>
    <img src.bind="product.image_raw_uri" />
  </div>

  <h4>Description:</h4>
  <div innerhtml.bind="product.description | sanitizeHTML"></div>


  <header class="full-info-header">
    <h3>TECHNICAL SPECIFICATIONS
      <span class="icon full-info-icon close float-right"></span>
    </h3>
  </header>
  <div class="full-info-content">
    <div class="tech-info-block italic">
      <p>Specifications are provided by the manufacturer. Refer to the manufacturer for an explanation of the print speed and other ratings.</p>
    </div>
    <div class="tech-info-block">
      <h4>Main Specs:</h4>
      <p repeat.for="attr of product.attributes">
        <span class="product-attr-item-name">
          <span innerhtml.bind="attr.attribute.presentation"></span>
        </span>
        <span class="product-attr-item-value" innerhtml.bind="attr.value"></span>
      </p>
    </div>
  </div>
</template>
